# =====================
# ENV / SECRETS
# =====================
.env
.env.*
!.env.example

# =====================
# LOGS
# =====================
*.log

# =====================
# SYSTEM
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE
# =====================
.idea/
.vscode/
.phpactor.json
.phpunit.result.cache
.phpunit.cache/
.nova/
.zed/
.cursor/
.codex/

# =====================
# LARAVEL CORE
# =====================
vendor/
storage/*.key
storage/pail/
bootstrap/cache/*.php

# =====================
# FRONTEND (VITE / NPM)
# =====================
node_modules/
public/build/
public/hot

# =====================
# LARAVEL PUBLIC STORAGE SYMLINK
# =====================
public/storage

# =====================
# HOMESTEAD (если вдруг есть)
# =====================
Homestead.json
Homestead.yaml

# =====================
# AUTH / COMPOSER
# =====================
auth.json

# =====================
# OPTIONAL HELPERS
# =====================
_ide_helper.php